.navbar {
  height: 72px;
  background-color: rgba($color: $background-dark, $alpha: 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: transform 0.5s ease-in-out;

  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url("/profile/avatar-color.png");
    background-position: center;
    background-size: cover;
    filter: contrast(1.2);
  }

  .brand {
    padding: 8px;
    a {
      padding: 2px 6px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .githubicon {
    font-size: 20px;
    margin-right: 8px;
    a {
      color: white;

      padding: 2px 6px;
      border-radius: 4px;

      &:hover {
        background-color: $background-lighter;
      }
    }
  }

  .themeicon {
    margin-right: 8px;
    .themebutton {
      font-size: 20px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      padding: 2px 6px;
      border-radius: 4px;

      &:hover {
        background-color: $background-lighter;
      }
    }
  }

  .navlinks {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 16px;
    a {
      padding: 2px 6px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: $background-light;

      &:hover {
        color: rgba($color: $background-light, $alpha: 0.66);
      }
    }
  }

  &.hidden {
    transform: translateY(-72px);
    transition: transform 0.3s ease-in-out;
  }
}

[data-theme="light"] {
  .navbar {
    background-color: rgba($color: white, $alpha: 0.25);

    .brand {
      a {
        &:hover {
          background-color: transparent;
        }
      }
    }

    .githubicon {
      a {
        color: $background-lighter;

        &:hover {
          background-color: rgba($color: $background-dark, $alpha: 0.15);
        }
      }
    }

    .themeicon {
      .themebutton {
        color: $background-lighter;

        &:hover {
          background-color: rgba($color: $background-dark, $alpha: 0.15);
        }
      }
    }

    .navlinks {
      a {
        color: $background-lighter;

        &:hover {
          color: rgba($color: $background-dark, $alpha: 0.66);
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    bottom: 0;
    top: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &.hidden {
      transform: translateY(72px);
      transition: transform 0.3s ease-in-out;
    }
  }
}
