.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 500px;
  max-width: 320px;
  background-color: rgba($color: $background-light, $alpha: 0.09);
  border-radius: 8px;
  border: 1px solid rgba($color: $background-dark, $alpha: .77);
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
  color: $background-dark;
}

.cardText {
  font-size: 16px;
  margin: 16px 0;
  color: rgba($color: $background-light, $alpha: 0.87);
  font-style: italic;
}

.postedAt {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgba($color: $background-light, $alpha: 0.6);
  text-transform: uppercase;
}

a.cardLink {
  display: flex;
  justify-content: space-between;
  color: rgba($color: $primary, $alpha: 1);
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:link {
    ::before {
      content: "\F136";
    }
  }

  &:hover {
    color: $accent;
  }
}

.cardTags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;

  span {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $primary;
    color: $background-light;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.cardCategoria {
  color: rgba($color: $background-light, $alpha: 0.8);
  font-weight: 600;
}

[data-theme="light"] {
  .card {
    background-color: $background-light;
    box-shadow: none;
    border: 1px solid rgba($color: $background-dark, $alpha: 0.25);
  }

  .cardText {
    color: rgba($color: $background-dark, $alpha: 0.87);
  }

  .postedAt {
    color: rgba($color: $background-dark, $alpha: 0.6);
  }

  .cardCategoria {
    color: rgba($color: $background-dark, $alpha: 0.8);
  }
}
