@import "./reset.scss";
@import "./typography.scss";
@import "./spacing.scss";
@import "./grid.scss";

@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-dark;
  color: rgba($color: #ffffff, $alpha: 0.87);
  margin-top: 72px;
}

[data-theme="light"] body {
  background-color: $background-light;
  color: rgba($color: #000000, $alpha: 0.87);
}

a {
  color: $accent;
  text-decoration: none;
  font-weight: bold;
}

a.back-btn {
  cursor: pointer;
  background-color: $background-lighter;
  color: $primary;
  padding: 8px;
  text-decoration: none;
  border-radius: 6px;
  display: block;
  width: 100px;
  text-align: center;
}

[data-theme="light"] a.back-btn {
  color: $background-light;
  background-color: $background-lighter;
}

.blog-post {
  strong {
    font-weight: bold;
  }

  img[alt="me"] {
    width: 200px;
  }

  section.intro {
    margin: 24px 0;
    color: rgba($color: #ffffff, $alpha: 0.75);
  }

  img.headline {
    margin: 8px 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(0.65);
  }

  blockquote {
    border-left: 4px solid $accent;
    padding-left: 16px;
    margin-left: 0;
    font-style: italic;
    font-size: 1.1rem;
    background-color: rgba($color: $background-light, $alpha: 0.05);
  }

  ul {
    list-style-type: disc;
    margin-left: 24px;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  span.closed {
    text-decoration: line-through;
    color: rgba($color: #ffffff, $alpha: 0.75);
  }

  code {
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    padding: 2px 4px;
    border-radius: 4px;
  }

  .image {
    width: 100%;
  }
}

[data-theme="light"] {
  span.closed {
    color: rgba($color: $background-dark, $alpha: 0.6);
  }

  .hr {
    border: 0;
    border-top: 1px solid rgba($color: $background-dark, $alpha: 0.38);
  }
}

.hr {
  border: 0;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.15);
}

[data-theme="dark"] body,
[data-theme="light"] body {
  transition: background-color 0.1s, color 0.1s, border-color 0.1s,
    box-shadow 0.1s;
}

@media screen and (max-width: 576px) {
  body {
    margin-top: 0;
    margin-bottom: 64px;
  }

  .hr {
    display: none;
  }
}

::selection {
  background-color: rgba($color: $accent, $alpha: 0.66);
  color: $background-light;
}
