.navbar {
  height: 64px;
  background-color: $background-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;

  .brand {
    padding: 8px;
  }

  .githubicon {
    font-size: 24px;
    margin-right: 8px;
    a {
      color: white;
    }
  }

  .themeicon {
    margin-right: 8px;
    .themebutton {
      font-size: 24px;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}
