@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  font-family: $font-family;
  line-height: 1.1;
  font-weight: $font-weight-black;
  color: $primary;
  letter-spacing: -0.03em;
  text-wrap: balance;
}

[data-theme="light"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-main-light;
  }

  blockquote {
    color: $text-muted-light;
  }

  .intro span, .intro i {
    color: $text-muted-light;
  }
}

h1 {
  font-size: $font-size-h1;
  margin-top: 2rem;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 800;
  margin-top: 1.8rem;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 800;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  line-height: $line-height;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  color: $text-muted;
}

[data-theme="light"] {
  p {
    color: $text-muted-light;
  }
}
